# Populate the variables below with your own values, and rename this file to .env!
OPENAI_API_KEY=YOUR_OPENAI_API_KEY_HERE
OPENAI_ORGANIZATION_ID=YOUR_ORG_ID_HERE
OPENAI_MODEL=text-davinci-003
OPENAI_DEFAULT_PROMPT=""
OPENAI_TEMPERATURE=0.0 
OPENAI_MAX_TOKENS=2048
OPENAI_LOGFILE=gpt.log

